/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#sms_texts_select_lang{
    margin-bottom: 30px;
}

#sms_texts_tags{
    margin-bottom: 10px;
}

.label_text{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 20px;
}